<article class="article-preview">
  <a href="{{ article.href }}" class="article-link">
    <div class="article-content">
      <h2 class="article-title">{{ article.title }}</h2>
      {% if article.subtitle %}
        <p class="article-subtitle">{{ article.subtitle }}</p>
      {% endif %}
      <div class="article-meta">
        {% if article.topic %}
          <span class="article-topic">{{ article.topic }} * </span>
        {% endif %}
        {% if article.published_at %}
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
            {{ article.published_at | date: '%b %d %Y' }}
          </time>
        {% endif %}
      </div>
    </div>
  </a>
</article>
