<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'src/templates/head.liquid' %}
  <title>{{ title }}</title>
</head>

<body>
  {% include 'src/templates/header.liquid' %}
  <main>
    <article class="blog">
        <h1 class="blog__header">{{ title }}</h1>
        <div class="blog__meta">
          <p>{{ date }}</p>
          <p>//</p>
          <p>{{ topic }}</p>
        </div>
        <div class="blog__content">
          {{ content | raw }}
        </div>
    </article>
  </main>
</body>

</html>