<article class="blog_preview">
  <a href="{{ article.pathname }}">
      <h2 class="blog_preview__title">{{ article.title }}</h2>
      <div class="blog_preview__meta">
          <span class="blog_preview__topic">{{ article.topic }} · </span>
          <time datetime="{{ article.date }}">
            {{ article.date }}
          </time>
      </div>
  </a>
</article>
