<article>
  <a href="{{ article.pathname }}">
    <div>
      <h2 class="blog-title">{{ article.title }}</h2>
      <div class="blog-meta">
          <span class="blog-topic">{{ article.topic }} · </span>
          <time datetime="{{ article.date }}">
            {{ article.date }}
          </time>
      </div>
    </div>
  </a>
</article>
